:root {
  --space-md: 16px;
  --space-lg: 24px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

.editor {
  width: 100vw;
  height: 100vh;

  &.draw {
    cursor: crosshair;
  }
}

.canvas {
  display: block;
}

.panel {
  position: absolute;
  top: var(--space-lg);
  right: var(--space-lg);
  width: 320px;
  padding: var(--space-md);
  background-color: #f6f6f6
}

.slider {

}

.info {
  font-family: monospace;
}

